# From https://trello.com/1/appKey/generate
key: YOUR_KEY
secret: YOUR_SUPER_SECRET

# From https://trello.com/1/connect?key=KEY_FROM_ABOVE&name=detrello&response_type=token&scope=read,account&expiration=never
# See https://github.com/jeremytregunna/ruby-trello/blob/v0.4.3/lib/trello.rb
token: YOUR_TOKEN